name: Validate CODEOWNERS

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/CODEOWNERS'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: mszostok/codeowners-validator@v0.7.4
        with:
          checks: "files,owners,duppatterns,syntax"
          github_access_token: "${{ secrets.CODEOWNERS_VALIDATOR_TOKEN }}"

